<?xml version="1.0"?>

<model>
  <name>RoboCup15_MSL_Goal</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>weijia yao</name>
    <email>abcgarden@126.com</email>
  </author>

  <description>
    A RoboCup MSL goal according to 2015 rules.
  </description>
</model>
